[user]
	name = Futa HIRAKOBA
	email = futa-hirakoba@example.invalid

[core]
	autocrlf = input
	pager = delta

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
    diffFilter = delta --color-only

[delta]
	#side-by-side = true
	line-numbers = true
	#line-numbers-left-format = ""
	#line-numbers-right-format = "│ "
    syntax-theme = Dracula

[init]
	defaultBranch = main
