[user]
	name = Futa HIRAKOBA
	email = korosuke613613@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBQ9une2BjZT/F1aqINsSES6LtG1d0iLKo9pmElUI3aS korosuke613613@gmail.com

[includeIf "gitdir:~/ghq/github.dev.cybozu.co.jp/"]
	path = ~/.config/git/office

[core]
	autocrlf = input
	hookspath =

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true 
[gpg]
	format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true
[credential "https://github.dev.cybozu.co.jp"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
