[user]
	name = Futa HIRAKOBA
	email = korosuke613613@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBQ9une2BjZT/F1aqINsSES6LtG1d0iLKo9pmElUI3aS korosuke613613@gmail.com

[includeIf "gitdir:~/ghq/private-github.example.invalid/"]
	path = ~/.config/git/office

[core]
	autocrlf = input
	pager = delta
	hooksPath = ~/ghq/github.com/secretlint/git-hooks/hooks

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
    diffFilter = delta --color-only

[delta]
	#side-by-side = true
	line-numbers = true
	#line-numbers-left-format = ""
	#line-numbers-right-format = "│ "
    syntax-theme = Dracula

[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true 
[gpg]
	format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

