[user]
	name = Futa HIRAKOBA
	email = korosuke613613@gmail.com

[includeIf "gitdir:~/ghq/github.dev.cybozu.co.jp/"]
	path = ~/.config/git/office

[core]
	autocrlf = input
	pager = delta
	hooksPath = /Users/korosuke613/ghq/github.com/secretlint/git-hooks/hooks

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
    diffFilter = delta --color-only

[delta]
	#side-by-side = true
	line-numbers = true
	#line-numbers-left-format = ""
	#line-numbers-right-format = "│ "
    syntax-theme = Dracula

[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true 
